{
  "root": true,
  "plugins": [
    "simple-import-sort",
    "prettier",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "error",
    "no-console": "warn"
  }
}